install python environment
pip install python>= 3.11
#if you run on jupyter:
#in cmd:
pip install jupyter

pip install mediapipe>= 0.10.11
pip install opencv-python>=4.9.0.80
pip install opencv-contrib-python>=4.9.0.80
pip install cvzone>=1.6.1
pip install numby>= 1.26.4
